# 5  **Black_Friday_Sales_feature_engineering.py**

In [29]:
import pandas as pd

# Load the dataset
df = pd.read_csv("BlackFriday.csv")
df.columns = df.columns.str.strip()

In [30]:
# ----- Encode Categorical Variables -----
# Gender: F → 0, M → 1
df['Gender'] = df['Gender'].map({'F': 0, 'M': 1})

In [31]:
# Age: Convert to ordered categorical codes (e.g., 0-17 < 18-25 < ... < 55+)
age_order = ['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55+']
df['Age'] = pd.Categorical(df['Age'], categories=age_order, ordered=True).codes

In [35]:
# City_Category: One-hot encoding
# The City_Category column has already been one-hot encoded in a previous step.
# df = pd.get_dummies(df, columns=['City_Category'], drop_first=True)

In [36]:
# Stay_In_Current_City_Years: Convert '4+' to 4, then to int
df['Stay_In_Current_City_Years'] = df['Stay_In_Current_City_Years'].replace('4+', 4).astype(int)

In [37]:

df['Total_Product_Interest'] = df[['Product_Category_1', 'Product_Category_2', 'Product_Category_3']].sum(axis=1)

# ----- Drop Irrelevant Columns -----
df_model = df.drop(['User_ID', 'Product_ID'], axis=1)


# Show sample
print("✅ Feature Engineering Completed. Sample data:\n")
print(df_model.head())

✅ Feature Engineering Completed. Sample data:

   Gender  Age  Occupation  Stay_In_Current_City_Years  Marital_Status  \
0       0    0          10                           2               0
1       0    0          10                           2               0
2       0    0          10                           2               0
3       0    0          10                           2               0
4       1    6          16                           4               0

   Product_Category_1  Product_Category_2  Product_Category_3  Purchase  \
0                   3                 NaN                 NaN      8370
1                   1                 6.0                14.0     15200
2                  12                 NaN                 NaN      1422
3                  12                14.0                 NaN      1057
4                   8                 NaN                 NaN      7969

   City_Category_B  City_Category_C  Total_Product_Interest
0            False            False                     3.0
1            False            False                    21.0
2            False            False                    12.0
3            False            False                    26.0
4            False             True                     8.0